body {
   display: flex;
   flex-direction: column;
   margin:0;
   font-size:20px;
}
.fill-viewport {
  min-height: 100vh 
}
header, footer { 
  height: 20vh;
  background: #444;
  display: flex;
  align-items:center;
  padding-left:50px;
}
main { 
   display: flex;
   flex: 1;
}
nav, aside { 
  width: 20vw;
  background-color: #888;
  text-align: center;
  display: flex;
  align-items:center;
  padding-left:50px;
}
article {
  flex: 1;
  display: flex;
  align-items:center;
  padding-left:50px;
}
nav {
  order: -1
}

