body {
   display: flex;
   margin:0;
   font-size:20px;
}
main { 
  flex: 1;
  background-color: #777;
  display: flex;
  padding:50px;  
}
aside { 
  width: 20vw;
  background-color: #444;
  padding:50px;  
}

.fill-viewport{
    min-height: 100vh;
}
